/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @You in DTLA
*/
/*font-family: 'DM Serif Text', serif;
font-family: 'Noto Sans KR', sans-serif;*/

h1{
	font-family: 'DM Serif Text', serif;
	font-size: 6em;
}

h2{
	font-family: 'DM Serif Text', serif;
	font-size: 3em;
}

h3{
	font-family: 'DM Serif Text', serif;
	font-size: 2em;
}

.snack h4 {
		font-family: 'Noto Sans KR bold', sans-serif;

}

h4{
	font-family: 'Noto Sans KR bold', sans-serif;
	font-size: 1.2em;
	line-height: 1.35em;
	margin-bottom: 1%;
	margin-top: 1%;
}

h5{
	font-family: 'Noto Sans KR bold', sans-serif;
	font-size: 1.2em;
	color: #82bbc4;
}


p, ul {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 1em;
	line-height: 1.6em;
}

ul {
	margin-top:5%;
}

.cheatsheet {
	background-color: #e4f1f4;
	padding-right: 15%;
	padding-left: 15%;
	padding-top: 8%;
	padding-bottom: 8%;
}

.snack {
	background-color: #f9d53d;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 8%;
	padding-bottom: 8%;
}

body {
    padding:0;
    margin:0;
    background-color: #e4f1f4;
}

#draggables {
	min-height: 150px;
	margin-bottom: 5%;
	    cursor: pointer;

}
.draggable {
  margin-left: 12px;
  margin-right: 12px;

  min-width: 140px;

}

.left-margin {
	margin-left: 10%;
}

.bottom-margin {
	margin-bottom:2%;
}

.right-margin {
	margin-right: 10%;
}

.both-margins {
	margin-left: 10%;
	margin-right: 10%;
}

.red {
	background-color: red;
}

.container-full {
  margin: 0;
  width: 100%;
}

.nopadding {
   padding: 0 !important;
}

.light-text{
	color: #79a5b5;
}
 

.row-space{
	margin-top: 5%;
	margin-bottom: 5%;
	;}

.row-smallspace{
	margin-top: 2%;
	margin-bottom: 2%;
	;}

.img-fluid {
	width: 100%;
}


    .bin {
        position: relative;
        display: inline-block;
        margin-top: 2%;
    }

    .bin .img-hover {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .bin:hover .img-hover {
        display: inline;
    }

#title h1 {
	position: absolute;

}

.about-top{
	margin-left: 3%;
	margin-top: 2%;
	    cursor: pointer;


}

.thumb {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 30%;
}

.whitebg {
	background-color: white;
}

#footer { 
padding-top:2%;
padding-bottom:10%;
padding-left: 10%;
padding-right: 10%;
}

hr {
	border: 1px solid #cae5ea;
	width: 80%;
}

.try {
	background-color: white;
	padding-top:6%;
	padding-bottom:3%;
}

.snacks {
	padding-right: 2%;
	padding-left: 2%;

}

.btn {
	font-family: 'Noto Sans KR bold', sans-serif;
	font-size: 1em;
	border: 1.5px solid #82bbc4;
	color: #82bbc4;
	  border-radius: 20px;
	  padding-left: 2%;
	  margin-right: 10px;
	  padding-right: 2%;
	      cursor: pointer;

	}

.btn:hover {
  	border: 1.5px solid pink;
  		color: pink;
  		    cursor: pointer;



}

.img {
	max-height: 700px;
}

#about #top {
	    cursor: pointer;

}




